<body>

<div id="logo" class="container">
    <h1><a href="http://apisjson.org"><img src="https://s3.amazonaws.com/kinlane-productions/apis-json/apisdotjson.png" width="450" /></a></h1>
</div>

<div id="wrapper" class="container">
    <div id="menu" class="container">
        <ul id="primaryNavItems">
            <li><a href="/index.html" title="Home">Home</a></li>
            <li><a href="/format.html" title="Contact">Format</a></li>
            <li><a href="/blog/" title="Blog">Blog</a></li>
            <li><a href="/contact.html" title="Contact">Contact</a></li>
        </ul>
    </div>
