<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Open+Sans+Condensed:300,700" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

  <link rel="alternate" type="application/rss+xml" title="API Commons Feed - Feed" href="http://feeds.feedburner.com/apicommons/eOLA" />
  
  <script type="text/javascript" src="/js/modernizr-2.5.3.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="/js/lib/base64.js"></script>
  <script type="text/javascript" src="/js/github.js"></script>
  <script type="text/javascript" src="/js/utilities.js"></script>
  <script type="text/javascript" src="/js/mustache.js"></script>      
      
</head>
